<div class='country'>
  <h2>
    {{name}}
  </h2>
  <div class='card'>
    <div class='card-description'>
      <ul class='description-list'>
        <li class='card-item'>
          <span>
            Capital:
          </span>
          {{capital}}
        </li>
        <li class='card-item'>
          <span>
            Population:
          </span>
          {{population}}
        </li>
        <li class='card-item'>
          <ul class='lang-list'>
            <span>
              Languages:
            </span>
            {{#each languages}}
              <li class='lang-item'>
                {{this.name}}
              </li>
            {{/each}}
          </ul>
        </li>
      </ul>
    </div>

    <img src="{{flag}}" alt='flag' width='420' height='420' />
  </div>
</div>